.h{
    text-align: center;
}
#id{
    justify-content: center;

}
button,select{
    display:block;
    margin:auto;
    
}
img{
    margin: auto;
display: block;
border: 2px solid black;
}
body{
    background-color: #26a69a63;
}